.card {
    height: 90px;
    width: 70%;
    margin: 10px auto;
    padding: 0 15px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.card div {
    
}

