<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>hi hi</h1> 
            <hr>
            <!-- with the selector and templateUrl -->
            <app-server></app-server>
            
            <!-- with the template -->
            <app-service></app-service>

            <!-- using attribute -->
            <div app-attribute></div>

            <!-- using class -->
            <div class="app-class"></div>

            <!-- directives -->
            <app-directives></app-directives>
        </div>
    </div>
</div>