<div class="nav">
    <a class="nav-link" routerLink="/animation">
        Animation    
    </a>
    <a class="nav-link" routerLink="/auth">
        Auth    
    </a>
    <a class="nav-link" routerLink="/pipe">
        Pipe    
    </a>
    <a class="nav-link" routerLink="/route">
        Route
    </a>
    <a class="nav-link" routerLink="/directive">
        Directive
    </a>
    <a class="nav-link" routerLink="/form">
        Form
    </a>
    <a class="nav-link" routerLink="/http">
        Http
    </a>
</div>
<router-outlet></router-outlet>




