<!-- style-binding.component.html -->

<div class="container" [style.backgroundColor]="bgMode === 'dark' ? '#696969' : 'aliceblue'"
  [style.color]="bgMode === 'light' ? '#696969' : 'aliceblue'">
  <h1>Style binding</h1>

  <img src="https://source.unsplash.com/random" alt=""
    [ngStyle]="{height: this.bgMode === 'dark' ? '500px' : '200px', width: this.bgMode === 'dark' ? '100% ' : '100px', objectFit: this.bgMode === 'dark' ? 'contain' : 'cover'}">

  <div class="text-box" [ngStyle]="{
    'color': bgMode === 'light' ? 'aliceblue' : '',
    'font-size': bgMode === 'light' ? '1rem' : '',
    'padding': bgMode === 'light' ? '10px 0' : '',
  'background-color': bgMode === 'light' ? '#696969' : ''}">

    <p>Author</p>
    <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, ut.</small>
  </div>

  <!-- control button -->
  <button style="position: fixed; top: 10px; right: 10px; font-size: 1.3rem; border-radius: 5px; border: none;"
    (click)="bgMode === 'dark' ? bgMode = 'light' : bgMode = 'dark'">{{bgMode}} Mode</button>
</div>