<div class="jumbotron"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white color (ngClass)</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <button class="btn form-control"
    (click)="isVisible = !isVisible"
    (click)="incrementCount()"
    (click)="addNumbers()">Display Details</button>

    <div class="col-xs-4">
      <p>{{ count }}</p>
      <p *ngIf="isVisible">Player</p>  
    </div>
    
    <div class="col-xs-4">
      <p *ngFor="let i of numbers"
      [ngStyle]="{backgroundColor: count > 5 ? 'blue' : 'white'}"
      [ngClass]="{para: count >= 5}">{{ i }}</p>
    </div>
    
    <div class="col-xs-4">
      <p *ngFor="let i of numbers"
      [ngStyle]="{backgroundColor: i > 5 ? 'blue' : 'white'}"
      [ngClass]="{para: i >= 5}">{{ i }}</p>
    </div>
  </div>

  <div class="row">
    <button class="btn form-control"
    (click)="addTimeStamp()">Display Details</button>

    <div class="col-xs-6">
      <p *ngFor="let i of stamps"
      [ngStyle]="{backgroundColor: i > 5 ? 'blue' : 'white'}"
      [ngClass]="{para: i >= 5}">{{ i }}</p>
    </div>
    
    <div class="col-xs-6">
      <p *ngFor="let i of stamps; let j = index"
      [ngStyle]="{backgroundColor: j >= 5 ? 'blue' : 'white'}"
      [ngClass]="{para: j >= 5}">{{ j }}</p>
    </div>
  </div>
</div>
