:host {
    div {
        text-align: center;
        height: 100%;
        width: 100%;
        img {
            border-radius: 5px;
            transition: .4s ease;
        }
        
        img:hover {
            border-radius: 50%;
        }
    }
}