:host {
    text-align: center;
    width: 100%;
    form {
        width: 100%;
        div {
            mat-form-field {
                height: 100%;
                width: 90px;
                margin-right: 10px;
                mat-select {
                    
                }
            }

            .item-to-buy {
                width: 50%;
            }
        }

        .btn {
            margin-top: 25px;
            font-size: 1.2rem;
        }
    }

    .container {
        width: 50%;
        margin: 0 auto;
        p {
            text-align: left;
        }
    }
}