:host {
    text-align: center;
    width: 100%;
    form {
        width: 100%;
        div {
            mat-form-field {
                height: 100%;
                width: 90px;
                margin-right: 10px;
                mat-select {
                    
                }
            }

            .item-to-buy {
                width: 50%;
            }
        }

        .btn {
            margin: 25px 0;
            font-size: 1.2rem;
        }
    }

    .container {
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
        background-color: #efefef;
        color: #000;
        border-radius: 5px;
        p {
            text-align: left;
        }
    }
}