
  <div *ngIf="reservations.length < 1; else orderList" class="container h-100">
    <h2>No reservation</h2>
  </div>
  <ng-template #orderList>
      <table *ngFor="let i of reservations" class="mx-auto container mx-5">
          <tr>
            <th>Restaurant.</th>
            <td class="align-right">{{ i.restaurantName }}</td>
          </tr>
          <tr>
            <th>Reserver.</th>
            <td class="text-right">{{ i.reservationName }}</td>
          </tr>
          <tr>
            <th>Date.</th>
            <td class="text-right">{{ i.detail.date }}</td>
          </tr>
          <tr>
            <th>Time.</th>
            <td class="text-right">{{ i.detail.time }}</td>
          </tr>
          <tr>
            <th>Tel.</th>
            <td class="text-right">{{ i.detail.tel }}</td>
          </tr>
          <tr>
            <th>People.</th>
            <td class="text-right">{{ i.numberOfPeople }}</td>
          </tr>
          <tr>
            <th>Menu.</th>
            <td class="text-right">{{ i.menuSelected }}</td>
          </tr>
      </table>
  </ng-template>
