
<form (ngSubmit)="onSubmit($event)" class="row g-3 mt-3">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="menu.restaurantName" matInput placeholder="Restaurant Name" value="" name="restaurantName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="menu.name" matInput placeholder="Dish Name" value="" name="dishName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="menu.subName" matInput placeholder="Dish Name" value="" name="dishName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input [(ngModel)]="menu.imageURL" matInput placeholder="imageURL" value="" name="imageURL">
    </mat-form-field>    

    <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="menu.description" rows="10" matInput placeholder="Description" value="" name="description"> </textarea>
    </mat-form-field>
  
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 mt-3">Add Menu</button>
    </div>
</form>
  
