
<form class="row g-3 mt-3">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Restaurant Name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Dish Name" value="">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="imageURL" value="">
    </mat-form-field>    

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Description" value="">
    </mat-form-field>
  
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 mt-3">Add Menu</button>
    </div>
</form>
  
