ul {
  padding: 0;  
}

li {
  height: 150px;  
  margin-bottom: 10px;
  background-color: lightseagreen;
  list-style: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: capitalize;
  color: aliceblue;
  position: relative;
}

i {
  font-size: 1.3rem;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}