<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">
            <img src="https://images.7news.com.au/publication/C-1623015/a845ce19f9cbbbc53231955d3c9968deeb12b634.jpg?imwidth=650&impolicy=sevennews_v2" alt="">
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://i.pinimg.com/originals/5b/57/d6/5b57d6d0b26e6e42e460a13259ef3cd1.jpg" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Y2J4Dg-duef9PYkKr_601nFcrxjaweAThG569Dkklezf8xLnlREByb_lRHP8aRWlRQ8&usqp=CAU" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPQAhnZgTS1XBpaZLRA4n0RMXgQwIQ8CyhUPPXS5flCWzca99KvTOcdnI82gxiy90Pqlw&usqp=CAU" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/09/27/10/chicken1a3.jpg?width=968&auto=webp&quality=75&crop=968%3A645%2Csmart" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://cache.marriott.com/marriottassets/marriott/SELGI/selgi-dining-area-5762-hor-feat.jpg" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://www.lottehotel.com/content/dam/lotte-hotel/signiel/seoul/dining/restaurant/stay/180708-40-2000-din-seoul-signiel.jpg.thumb.768.768.jpg" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">            
            <img src="https://news.hmgjournal.com/images_n/contents/cons/2020/200615_haevichi_02.jpg" alt="">
        </div>
    </mat-grid-tile>
</mat-grid-list>
