:host {
    mat-grid-tile {
        
        mat-grid-tile-content {
            
        }
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}