<mat-grid-list cols="1" rowHeight="1:1" gutterSize="50px">
    <mat-grid-tile *ngFor="let i of restaurants" role="listitem">
        <mat-grid-tile-header>
            {{ i.name }}
        </mat-grid-tile-header>
        <div class="example-ripple-container mat-elevation-z4"
            matRipple
            [matRippleCentered]="centered"
            [matRippleDisabled]="disabled"
            [matRippleUnbounded]="unbounded"
            [matRippleRadius]="radius"
            [matRippleColor]="color">
            <img mat-card-image (click)="onSelect(i)"
            src="{{ i.imageURL }}" alt="">
        </div>
        <mat-grid-tile-footer class="h-25">
            {{ i.description }}
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>

<!-- test -->
<!-- <div 
    *ngIf="true" 
    class="position-fixed next-btn bg-dark text-center">
    <a routerLink="/restaurant/order/detail" class="btn btn-outline-dark text-light">
        next
    </a>
</div> -->
