main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightseagreen;
  color: aliceblue;
}