<p>service works!</p>
<!-- property bounding -->
<button class="btn btn-primary" [disabled]="allowNewServer">Add</button>
<hr>

<!-- string bounding -->
<p> {{ allowNewServer }} </p>

<!-- property bounding -->
<p [innerText]="allowNewServer" ></p>
<app-server></app-server>
<hr>

<p> {{serverCreationStatus}} </p>
<!-- calling event(between the quotation mark I can even write a method) -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()" >Add</button>
<hr>

<!-- event bounding -->
<label for=""> {{serverName}} </label>

<!-- $event(give us access to the input data) 
    is a reserved keyword that can be put 
    anywhere in between quotation marks -->
<input type="text"
class="form-control"
(input)="onUpdateServer($event)">
<hr>

<!-- two way bounding -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">