<p>service works!</p>
<!-- property bounding -->
<button class="btn btn-primary" [disabled]="allowNewServer">Add</button>

<!-- string bounding -->
<p> {{ allowNewServer }} </p>

<!-- property bounding -->
<p [innerText]="allowNewServer" ></p>
<app-server></app-server>

<p> {{serverCreationStatus}} </p>
<!-- calling event(between the quotation mark I can even write a method) -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()" >Add</button>

<!-- two event bounding -->
<label for=""Server name></label>
<input type="text"
class="form-control"
(input)="onUpdateServer($event)">