:host {
    width: 100%;
    text-align: center;
    .btn {
        margin: 25px 0;
        font-size: 1.2rem;
        color: #fff;
    }

    .container {
        width: 60%;
        margin: 0 auto;
        padding: 10px 0;
        background-color: #efefef;
        color: #000;
        border-radius: 5px;
        
        p {
            text-align: left;
        }
    }
}