<!-- purchase-history component that features a reset button -->
<div class="container-fluid p-2 mt-3">    
    <!-- <p *ngFor="let item of datastore.histories; let i = index"
    (click)="removeItem(item)">
        <input type="checkbox">
        {{ item.quantity}} 
        <i class="fa fa-times"></i>
        {{ item.item }}
    </p> -->
    <table class="table table-sm text-light">
        <thead class="bg-light text-dark border-2">
            <tr>
                <th class="history-toggle" scope="col"
                (click)="toggleSort(1)"
                >Quantity
                    <i [ngClass]="quantityACS ? 'fa fa-arrow-down' : 'fa fa-arrow-up'"></i>
                </th>
                <th class="history-toggle" scope="col"
                (click)="toggleSort(2)"
                >Item
                    <i [ngClass]="itemACS ? 'fa fa-arrow-down' : 'fa fa-arrow-up'"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datastore.histories"
            (click)="removeItem(item)">
                <td>{{ item.quantity }} </td>
                <td>{{ item.item }}</td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn" mat-stroked-button
(click)="removeAll()">Reset</button>


  
  
