<!-- pipe.component.html -->

<!-- date pipe -->
<p>{{ value | date : 'short' }}</p>
<p>{{ value | date : 'medium' }}</p>
<p>{{ value | date : 'long' }}</p>
<p>{{ value | date : 'full' }}</p>
<p>{{ value | date : 'MM-dd-yyyy' }}</p>
<p>{{ value | date : 'M/d/yy, h:mm a' }}</p>
<p>{{ value | date : 'shortDate' }}</p>
<p>{{ value | date : 'longDate' }}</p>
<p>{{ value | date : 'shortTime' }}</p>
<p>{{ value | date : 'longTime' }}</p>

<!-- uppercase pipe -->
<p>{{ 'value' | uppercase }}</p>

<!-- title pipe -->
<p>{{ 'value' | titlecase }}</p>

<!-- currency pipe -->
<p>{{ 3 | currency : 'USD' : 'code' }}</p>
<p>{{ 3 | currency : 'CAD' : 'code' }}</p>
<p>{{ 3 | currency : 'USD' }}</p>
<p>{{ 3 | currency : 'CAD' }}</p>
<p>{{ 3 | currency : 'USD' : 'symbol' }}</p>
<p>{{ 3 | currency : 'CAD' : 'symbol' : '5.2-5' }}</p>
<p>{{ 3 | currency : 'USD' : 'symbol-narrow' : '6.1-5' }}</p>
<p>{{ 3 | currency : 'CAD' : 'symbol-narrow' : '4.3-5' }}</p>

<!-- decimal pipe -->
<p>{{ 3 | number : '4.3-5' }}</p>
<p>{{ 3.5 | number : '4.0-0' }}</p>
<p>{{ 3.4 | number : '4.0-0' }}</p>

<!-- format number pipe -->
<p>{{ 4 | percent }}</p>