@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:host {
    display: flex;
    flex-direction: column;

    .container {
        font-family: 'lato', sans-serif;
        height: 80vh;
        overflow-y: scroll;
    }
}