<form #reservationForm="ngForm" (ngSubmit)="onSubmit()" class="row g-2" [formGroup]="inputGroup">
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="reservation.reservationName"
        [formControl]="nameCtrl"
        matInput type="text" class="form-control" placeholder="Name">
        <mat-error
        *ngIf="nameCtrl.hasError('required')">
            Name required
        </mat-error>        
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="reservation.detail.date"
        [formControl]="dateCtrl"
        matInput type="date" class="form-control" placeholder="Date">
        <mat-error
        *ngIf="dateCtrl.hasError('required')">
            Date required
        </mat-error>        
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="reservation.detail.time"
        [formControl]="timeCtrl"
        matInput type="time" class="form-control" placeholder="Time">
        <mat-error
        *ngIf="timeCtrl.hasError('required')">
            Time required
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <span matPrefix>+1 &nbsp;</span>
        <input [(ngModel)]="reservation.detail.tel"
        [formControl]="telCtrl"
        type="tel" matInput placeholder="000-000-0000">
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error
        *ngIf="telCtrl.hasError('required')">
            Tel required
        </mat-error>
        <mat-error
        *ngIf="telCtrl.hasError('pattern')">
            wrong date format
        </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
        <input [(ngModel)]="reservation.numberOfPeople"
        [formControl]="peopleCtrl"
        type="number" matInput placeholder="Number of people">
        <mat-error
        *ngIf="peopleCtrl.hasError('required')">
            Number of people required
        </mat-error>
    </mat-form-field>

    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 mt-1">
            Save
        </button>
    </div>
</form>
  
