<form class="row g-3 mt-5">
    <!-- date and time -->
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Date</label>
        <input type="date" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Time</label>
        <input type="time" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div><!-- /end date and time -->

    <div class="col-12">
        <label for="inputAddress2" class="form-label">Reservation Name</label>
        <input type="text" class="form-control" id="inputAddress2">
    </div>

    <div class="col-md-6">
        <label for="inputCity" class="form-label">Contact</label>
        <input type="text" class="form-control" id="inputCity"
        placeholder="000-000-0000">
    </div>

    <div class="col-md-2">
        <label for="inputZip" class="form-label">Number of People</label>
        <input type="number" class="form-control" id="inputZip">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 mt-3">Sign in</button>
    </div>
</form>
  
