<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <button
          class="btn btn-primary"
          (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
        <br><br>
        <ul class="list-group">
          <div *ngIf="onlyOdd">
            <!-- <li
              class="list-group-item"
              [ngClass]="{odd: odd % 2 !== 0}"
              [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow':''}"
              *ngFor="let i of oddNumbers">
              {{ i }}
            </li> -->
          </div>
          <div *ngIf="!onlyOdd">
            <li
              class="list-group-item"
              *ngFor="let i of evenNumbers">
              {{ i }}
            </li>
          </div>
        </ul>
        <ng-template [ngIf]="onlyOdd">
          <p>Only odd</p>
        </ng-template>
        <p appHighlight>style</p>
        <p appBetterHighlight>style</p>
        <!-- <p appBetterHighlight
        [defaultColor]="'black'"
        [highlightColor]="'purple'">style</p> -->
      </div>
  
      <hr>
  
      <div *appUnless="onlyOdd">
        <!-- <li
          class="list-group-item"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow':''}"
          *ngFor="let i of oddNumbers">
          {{ i }}
        </li> -->
      </div>
  
      <hr>
      <div [ngSwitch]="value">
          <div *ngSwitchCase="3">output1</div>
          <div *ngSwitchCase="4">output2</div>
          <div *ngSwitchCase="5">output3</div>
          <div *ngSwitchDefault>output4</div>
      </div>
    </div>
  </div>
  