<!-- restaurant 1 -->
<mat-card *ngFor="let i of menus" class="example-card">
<mat-card-header>
    <mat-card-title>{{ i.name }}</mat-card-title>
    <mat-card-subtitle>{{ i.subName }}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="{{ i.imageURL }}">
<mat-card-content>
    <p>{{ i.description }}</p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- <mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://www.hungryhowies.com/sites/default/files/styles/menu_item_280x175/public/images/menu-items/thumbnails/buildyourownpizza_0.png?itok=fgzFck86">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 2 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://img.kidspot.com.au/pZnR2nZu/kk/2015/03/hawaiian-pizza-recipe-605894-2.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 3 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKZnuMke87v2hdmICWG14H9DoppwJy-fSAZw&usqp=CAU">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 4 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://www.foodnetwork.com/content/dam/images/food/video/0/01/012/0127/0127934.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://i.pinimg.com/originals/1d/a0/59/1da05916ca94f4f4f619a6eabd7bd892.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 5 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://static.onecms.io/wp-content/uploads/sites/9/2021/09/20/air-fryer-fried-chicken-FT-RECIPE0921.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F9%2F2021%2F04%2F20%2Fbalinese-grilled-chicken-with-raw-sambal-matah-FT-RECIPE0521.jpg&q=85">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 6 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="http://cdn.cnn.com/cnnnext/dam/assets/181114130138-korean-food-2620014201204004k-jeonju-bibimbap.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://asiasociety.org/sites/default/files/styles/1200w/public/2019-02/%EB%B0%98%EC%B0%AC.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 7 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/chorizo-mozarella-gnocchi-bake-cropped-9ab73a3.jpg">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYdPceK4ePXXCUOat9aEvtcM6lz5nQWGHppayapcoi703ir89f7LjP7gZPuyBAFec0bCk&usqp=CAU">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card>

<!-- restaurant 8 -->
<mat-card class="example-card">
<mat-card-header>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRfpZB0_3qGRT0vx7Jlw662goIgQc9en4esg&usqp=CAU">
<mat-card-content>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corrupti qui debitis ullam, tenetur natus odit nemo consequatur dolore voluptatem explicabo! Natus incidunt nobis perspiciatis itaque, aperiam iste atque porro a libero, quam dolore quidem dolorem ipsa, ex molestias recusandae! 
    </p>
</mat-card-content>
<mat-card-actions>
    <button class="btn btn-outline-dark" mat-button>Choose</button>    
</mat-card-actions>
</mat-card> -->


