<!-- restaurant 1 -->
<mat-card *ngFor="let i of menus" class="example-card">
    <mat-card-header>
        <mat-card-title>{{ i.name }}</mat-card-title>
        <mat-card-subtitle>{{ i.subName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ i.imageURL }}">
    <mat-card-content>
        <p>{{ i.description }}</p>
    </mat-card-content>
    <mat-card-actions class="btn-container">            
        <div>
            <button class="btn btn-outline-dark" mat-button
            (click)="unselectMenu(i.name)">
                <i class="fa fa-minus"></i>
            </button>    
            <button class="btn btn-outline-dark" mat-button
            (click)="selectMenu(i.name)">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        
        <div>
            <button [hidden]="!loggedIn" class="btn btn-outline-dark" mat-button
            (click)="selectMenu(i.name)">
                <i class="fas fa-user-shield">Update</i>
            </button>
            <button [hidden]="!loggedIn" class="btn btn-outline-dark" mat-button
            (click)="selectMenu(i.name)">
                <i class="fas fa-user-shield">Delete</i>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
