<ul class="list-group" *ngIf="loaded && logs.length > 0">
    <li class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let i of logs"
    [class.list-group-item-secondary]="selectedLog === i"> <!-- for highlighting selected item -->
        <button (click)="onSelect(i)"
         href=""> {{ i.text }} </button>
        <span class="log-date"> {{ i.date | date: 'short' }} </span>
        <i (click)="onDelete(i)" 
        class="fa fa-remove"></i>
    </li>
</ul>

<div *ngIf="loaded && logs.length == 0">
    <h5>Threre are no logs in the system</h5>
</div>

<div *ngIf="!loaded">
    <h5>Loading...</h5>
</div>
