@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:host {
    .container {
        font-family: 'poppins', sans-serif;
        height: 100%;
        width: 100%;
        background: url('/assets/images/order.jpg') center center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        
        .row {            
            height: 160px;
            width: 260px;
            margin-bottom: 10px;
            background-color: #000;            
            border-radius: 5px;            
        }

        .row:last-child {
            background-color: #fff;
            color: #000;
        }

        .row:nth-child(2) {
            background-color: lavender;
            color: #333;
        }

        .row:last-child a {
            color: #000;
        }

        a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            z-index: 2;
            color: #fff;
            font-size: 2rem;
        }
    }

    .container::before {
        content: '';
        height: 80%;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        opacity: .1;
        z-index: 1;
    }
}