<div class="container h-100">
    <div class="row">
        <a routerLink="/restaurant/owner/menu/add" class="btn btn-outline-dark">
            Add<br>
            Menu
        </a>
    </div>
    <div class="row">
        <a routerLink="/restaurant/owner/menu/update" class="btn btn-outline-dark">
            Update<br>
            Menu
        </a>
    </div>
    <div class="row">
        <a routerLink="/restaurant/owner/menu/remove" class="btn btn-outline-dark">
            Remove<br> 
            Menu
        </a>
    </div>
</div>
