<div *ngIf="reservation == null; else order" class="container h-100">
    <h2 class="no-order-yet">No Order Yet</h2>
</div>

<ng-template #order>
    <table class="mx-auto container mx-5">
        <tr>
          <th>Restaurant.</th>
          <td class="align-right">{{ reservation.restaurantName }}</td>
        </tr>
        <tr>
          <th>Reserver.</th>
          <td class="text-right">{{ reservation.reservationName }}</td>
        </tr>
        <tr>
          <th>Date.</th>
          <td class="text-right">{{ reservation.detail.date }}</td>
        </tr>
        <tr>
          <th>Time.</th>
          <td class="text-right">{{ reservation.detail.time }}</td>
        </tr>
        <tr>
          <th>Tel.</th>
          <td class="text-right">{{ reservation.detail.tel }}</td>
        </tr>
        <tr>
          <th>People.</th>
          <td class="text-right">{{ reservation.numberOfPeople }}</td>
        </tr>
        <tr>
          <th>Menu.</th>
          <td>
            <p *ngFor="let i of reservation.menuSelected" class="text-right">{{ i }}</p>
          </td>          
        </tr>
    </table>

    <div class="container text-center">
        <a routerLink="/restaurant" class="btn btn-outline-dark mx-auto">
            Comfirm
        </a>
    </div>
</ng-template>

