<p>
  <mat-toolbar color="primary">
    <span>
      <a routerLink="/" class="text-light text-decoration-none">Order first</a>
    </span>
    <span class="example-spacer"></span>
    
    <!-- menu -->
    <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>      
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>
          <a *ngIf="!loggedIn; else notLoggedIn"
          class="btn" routerLink="/log">Log In</a>
          <ng-template #notLoggedIn>
            <a class="btn">Log Out</a>
          </ng-template>
        </span>
      </button>

      <button mat-menu-item>
        <mat-icon>restaurant</mat-icon>
        <span>
          <a class="btn" routerLink="/restaurant">Foods</a>
        </span>
      </button>

      <button [hidden]="!loggedIn" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>
          <a class="btn" routerLink="/owner">Owners</a>
        </span>
      </button>

      <button [hidden]="!loggedIn" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>
          <a class="btn" routerLink="/restaurant/order/list">Reservations</a>
        </span>
      </button>
    </mat-menu><!-- /end menu -->
  </mat-toolbar>
</p>



