<p>
  <mat-toolbar color="primary">
    <span>Order first</span>
    <span class="example-spacer"></span>
    
    <!-- menu -->
    <button class="menu-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>      
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>
          <a class="btn" routerLink="/log">Log In</a>
        </span>
      </button>

      <button mat-menu-item>
        <mat-icon>restaurant</mat-icon>
        <span>
          <a class="btn" routerLink="/restaurant">Foods</a>
        </span>
      </button>

      <button [disabled]="!loggedIn" mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>
          <a class="btn" routerLink="/owner">Owners</a>
        </span>
      </button>
    </mat-menu><!-- /end menu -->
  </mat-toolbar>
</p>



