<app-header></app-header>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <app-recipes></app-recipes>
          <app-shopping-list></app-shopping-list>
      </div>
  </div>
</div>
<button class="btn btn-primary">what</button>






<!-- 
to install the Bootstrap CSS Framework and in this course, 
npm install --save bootstrap@3  
in angular.json file, add Bootstrap to the styles[]  
path: node_modules/bootstrap/dist/css/bootstrap.min.css 

to skip testing file when generating a component
ng g c name --skipTests true
-->