:host {
    height: 100%;
    background-color: #000;
    display: block;
    color: #fff;

    mat-drawer-container {
        height: 100%;

        mat-drawer-content {
            padding: 10px;
            display: flex;
            justify-content: center;
            font-size: 1.2rem;
        }

        mat-drawer {
            mat-list {
                mat-list-item {
                    cursor: pointer;
                    padding: 0 0 5px 0;
                    mat-icon {
                        margin-right: 10px;
                    }

                }
                mat-list-item:hover {
                    background-color: #585555;
                }
            }
        }
    }
}
