<mat-toolbar>
  <button 
    (click)="drawer.toggle()"
    mat-icon-button 
    class="example-icon" 
    aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>{{ title }}</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>

<!-- https://material.angular.io/components/sidenav/overview#sidenav-drawer-overview -->
<mat-drawer-container class="example-container">
  <!-- creating a template variable to store the instance of 
    an Angular component(use '#'') 
    so what is dose is to let me use the properties of the component
  -->
  <mat-drawer #drawer mode="side" [(opened)]="isOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="entry" (click)="drawer.toggle()">Barcode</a>
      <a mat-list-item routerLink="history" (click)="drawer.toggle()">History</a>
   </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>Main content
    <!-- calling decleared variable -->
    <p>The drawer is open {{ drawer.opened }}</p>

    <button (click)="drawer.toggle()">click</button>

    <!-- using Output -->
    <app-barcode-entry (onSelfDestruction)="changeTitle($event)"></app-barcode-entry>

    <!-- this tag allow me to use url route -->
    <router-outlet (activate)="changeTitle($event.pageTitle)"></router-outlet>

    <!-- two way bounding -->
    <input type="checkbox" [(ngModel)]="isOpen">

    <!-- ngIf -->
    <h1 *ngIf="isOpen">Oppppen</h1>

    <h1>{{ title }}</h1>
  </mat-drawer-content>
</mat-drawer-container>
