<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-white btn-block mb-3" [ngClass]="currentClasses">Add new user</button>

<ul class="list-unstyled" *ngIf="users.length > 0;else noUsers" >
    <li class="card card-body mb-2" *ngFor="let i of users"
    [class.bg-light]="i.isActive">

        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" [src]="i.image" alt="">
                <!-- <img class="img-fluid" src="{{i.image}}" alt=""> -->
                <!-- <img class="img-fluid" bind-src="i.image" alt=""> -->
            </div>
            <div class="col-sm-8">
                <h3>{{i.firstName}} {{i.lastName}}</h3>            
                <ul class="list-group" *ngIf="showExtended && i.age || i.address">
                    <li class="list-group-item"> {{i.address?.state}} </li>
                    <li class="list-group-item"> {{i.address?.city}} </li>
                    <li class="list-group-item"> {{i.address?.street}} </li>
                </ul>
            </div>
        </div>

        <ng-template *ngIf="users?.length" ></ng-template>    
    </li>
</ul>

<ul>
    <li *ngFor="let i of users" >
        <h2> {{i.firstName}} </h2>
    </li>
</ul>

<ng-template #noUsers>No user found</ng-template>
