<button class="btn btn-dark mb-3"
(click)="showUserForm = !showUserForm">
Add user</button>

<div class="card card-body mb-3" *ngIf="showUserForm">
    <h2>Add user</h2>
    
    <!-- with (submit) need to prevent default -->
    <!-- <form (submit)="onSubmit($event)"></form>   -->

    <!-- template driven form -->    
    <!-- with ngSubmit no need to prevent default -->
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
            <label>First name</label>
            <!-- bootstrap UI validation -->
            <input 
            [(ngModel)]="user.firstName"
            type="text" 
            class="form-control mb-3 is-invalid" 
            name="firstName"
            #userFirstName="ngModel"
            required
            minlength="2"
            [ngClass]="{'is-invalid': userFirstName.errors && userFirstName.touched}">

            <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">
                Required
            </div><!-- bootstrap UI validation -->
            
            <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
            </div><!-- bootstrap UI validation -->
        </div>

        <div class="form-group">
            <label>Last name</label>
            <input 
            [(ngModel)]="user.lastName"
            type="text" 
            class="form-control mb-3 is-invalid" 
            name="lastName"
            #userLastName="ngModel"
            required
            minlength="2"
            [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched}">

            <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">
                Required
            </div>
            
            <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">
                Must be at least 2 characters
            </div>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input 
            [(ngModel)]="user.email"
            type="email" 
            class="form-control mb-3 is-invalid" 
            name="email"
            #userEmail="ngModel"
            required
            pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
            [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched}">

            <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">
                Required
            </div>
            
            <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">
                Not valid email
            </div>
        </div>

        <div class="form-group">
            <label>Age</label>
            <input [(ngModel)]="user.age"
            type="number" class="form-control mb-3" name="age">
        </div>
        <div class="form-group">
            <label>Street Address</label>
            <input [(ngModel)]="user.address"
            type="text" class="form-control mb-3" name="street">
        </div>
        <div class="form-group">
            <label>City</label>
            <input [(ngModel)]="user.address"
            type="text" class="form-control mb-3" name="city">
        </div>
        <div class="form-group">
            <label>State</label>
            <input [(ngModel)]="user.address"
            type="text" class="form-control mb-3" name="state">
            <!-- <input 
            (keydown)="fireEvent($event)"
            type="text" class="form-control mb-3" name="state"> -->
        </div>

        <!-- ng class -->
        <!-- hard coded for a test -->
        <!-- <button [disabled]="!enableAdd" class="btn btn-white w-100 mb-3" [ngClass]="currentClasses"
        (click)="addUser({firstName: 'M', lastName: 'J', isActive: true})">Add new user</button> -->
        
        <!-- rough way of checking if the inputs are filled -->
        <!-- with addUser method -->
        <!-- <button [disabled]="user.firstName == '' || user.lastName == ''" class="btn btn-white w-100 mb-3" [ngClass]="currentClasses"
        (click)="addUser()">Add new user</button> -->
        
        <!-- with template driven validation -->
        <button [disabled]="!userForm.form.valid" class="btn btn-white w-100 mb-3" [ngClass]="currentClasses"
        >Add new user</button>
    </form>
</div>

<ul class="list-unstyled" *ngIf="users.length > 0;else noUsers" >
    <!-- class binding, style binding -->
    <li class="card card-body mb-2" *ngFor="let i of users"
    [class.bg-light]="i.isActive"
    [style.border-color]="i.isActive ? 'green' : ''">

        <div class="row">
            <div class="col-sm-4">
                <img class="img-fluid" [src]="i.image" alt="">
                <!-- <img class="img-fluid" src="{{i.image}}" alt=""> -->
                <!-- <img class="img-fluid" bind-src="i.image" alt=""> -->
            </div>
            <div class="col-sm-8">
                <!-- ng style --> 
                <!-- pipe: something similar to methods
                     tyntax: target | expression -->
                <h3
                [ngStyle]="currentStyles"
                >{{i.firstName | uppercase}} {{i.lastName | lowercase}}
                    <small *ngIf="i.age || i.address">
                        <!-- <button class="btn btn-dark btn-sm" 
                        (click)="toggleHide(i)">Toggle</button> -->
                        <button class="btn btn-dark btn-sm" 
                        (click)="i.hide = !i.hide">
                            <i [ngClass]="i.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
                        </button>
                    </small>
                </h3>            
                <!-- <ul class="list-group" *ngIf="showExtended && i.age || i.address"> -->
                <ul class="list-group" *ngIf="!i.hide && (i.age || i.address)">
                    <li class="list-group-item"> {{i.address?.state}} </li>
                    <li class="list-group-item"> {{i.address?.city}} </li>
                    <li class="list-group-item"> {{i.address?.street}} </li>

                    <!-- currency pipe -->
                    <!-- <li class="list-group-item"> balance: {{i.balance | currency: "GBP": "code"}} </li>
                    <li class="list-group-item"> balance: {{i.balance | currency: "GBP": "symbol"}} </li>
                    <li class="list-group-item"> balance: {{i.balance | currency: "GBP"}} </li> -->
                    <li class="list-group-item"> balance: {{i.balance | currency}} </li>
                    
                    <!-- date pipe -->
                    <li class="list-group-item"> joined: {{i.registered | date}} </li>
                    <!-- <li class="list-group-item"> joined: {{i.registered | date: "mm/dd/yyyy"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "yyyy"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "shortDate"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "longDate"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "fullDate"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "longTime"}} </li>
                    <li class="list-group-item"> joined: {{i.registered | date: "shortTime"}} </li> -->

                    <!-- number pipe -->
                    <li class="list-group-item"> joined: {{5 | number: "1.2"}} </li> <!-- numbers of positive(1 -> one spot) . numbers of decimal(2 -> two spots) -->

                    <!-- % pipe -->
                    <li class="list-group-item"> joined: {{.1 | percent}} <!-- 1 -> 100% -->
                    
                    <!-- ngNonBindable: outputs the actual code -->
                    <li class="list-group-item" ngNonBindable> joined: {{.1 | percent}} <!-- 1 -> 100% -->
                </ul>
            </div>
        </div>

        <ng-template *ngIf="users?.length" ></ng-template>    
    </li>
</ul>

<ul>
    <li *ngFor="let i of users" >
        <h2> {{i.firstName}} </h2>
    </li>
</ul>

<ng-template #noUsers>No user found</ng-template>
