<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- with two way bounding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

      <!-- with template variable(local reference) -->
      <input 
      type="text" 
      class="form-control"
      #serverNameInput
      >

      <label>Server Content</label>
      <!-- with two way bounding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->

      <!-- with ViewChild -->
      <input 
      type="text" 
      class="form-control" 
      #serverContentInput
      >

      <br>
      
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
  </div>


  <!-- 
    In Angular 8+, 
    Instead of:
    @ViewChild('serverContentInput') serverContentInput: ElementRef;
    
    use

    @ViewChild('serverContentInput', {static: true}) serverContentInput: ElementRef;

    The same change (add { static: true } as a second argument) needs to be applied to ALL usages of @ViewChild() (and also @ContentChild() which you'll learn about later) IF you plan on accessing the selected element inside of ngOnInit().

    If you DON'T access the selected element in ngOnInit (but anywhere else in your component), set static: false instead!

    If you're using Angular 9+, you only need to add { static: true } (if needed) but not { static: false }. -->
