<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- with two way bounding -->
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->

      <!-- with template variable(local reference) -->
      <input 
      type="text" 
      class="form-control"
      #serverNameInput
      >

      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
